body {
    background-image: url("../images/mainbg.jpg")
}

.panel {
    background-color: tan;
    opacity: .7;
}

.panel-title {
    text-align: center;
}

.panel-body {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: left;
}

.location {
    background-color: white;
}

.genre {
    background-color: white;
}

.bookImg {
    height: 100px;
    width: 50px;
}

#buttons {
    text-align: center;
}

a {
    color: white;
}

#logo {
    height: 250px;
    width: 100%;
    opacity: .9;
}

#delete {
    text-align: center;
}